* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.wrapper {
  background-color: white;
  width: 97vw;
  height: 100vh;
  margin: 0 auto;
}

header {
  display: grid;
  padding: 10px 0;
  height: 50px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

ul li {
  display: inline-block;
  list-style: none;
}

ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 28px;
  margin: 0 5px;
  color: #000;
  opacity: 0.75;
}

.justifyRight {
  grid-column: 2/3;
  justify-self: end;
}

.button a {
  border: 1px solid #4285f4;
  border-radius: 2px;
  background-color: #4285f4;
  font-weight: bold;
  padding: 0 12px;
  color: #fff;
  opacity: 1;
}

.appsIcon {
  position: relative;
  bottom: 2px;
  width: 24px;
  height: 24px;
}

.material-icons {
  position: absolute;
  top: 0px;
  left: 0px;
}